<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue js</title>
    <script src="vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

    <div class="col-md-6 alert alert-info m-auto" id="app">
        <p> {{ title }} </p>
        <p> {{ cars[0] }} </p>
        <p > {{ robot.name }} </p>
        <p> {{ greetings() }} </p>
        <p> {{ testFunction() }}</p>

<!--         need to use v-bind directives for attributes-->
        <div class="col-md-4 m-auto">
            <img v-bind:src="profile_img_src" v-bind:alt="img_alt" class="w-100">
            <button v-on:click="changeImage" class="btn btn-primary" type="button"> Click </button>
        </div>
        <hr>
        <p v-text="myText"></p>
        <p v-html="myHtml"></p>

<!--Conditionals -->
        <p v-if="userAge >= 18"> Adult </p>
        <p v-else-if="userAge >= 13 && userAge < 18"> Teenagers </p>
        <p v-else-if="userAge < 0"> Not born yet </p>
        <p v-else> Baby </p>

<!--        v-show is same as v-if, v-show render everything in dom but only show condition fulfilled section-->

        <p v-for="(value, key, index) in robot">
            {{ index }} : {{ key }} : {{ value }}
        </p>

        <h3 class="text-center"> {{ user }}</h3>
<!--        v-once used for render once only -->
        <h3 class="text-center" v-once> {{ user }}</h3>
        {{ changeUser() }}

        <form v-on:submit.prevent="handleForm">
            <div class="form-group row pb-2">
                <label  class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="formData.firstName" placeholder="First Name">
                </div>
            </div>
            <div class="form-group row pb-2">
                <label  class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="formData.lastName" placeholder="Last Name">
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-sm col-md-2">Submit</button>
            </div>
        </form>

    </div>


<script src="app.js"></script>
</body>
</html>